.panel {
    background: var(--crust);
    padding: 1em 1em;
    box-shadow: var(--mantle) 0px 1em 5px -.5em;
    width: 100%;
    box-sizing: border-box;
}

.addItem {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    input[type=text] {
        flex-grow: 1;
    }
}

.addButtonActive {
    animation: addButtonPulse 250ms ease-out;
}

@keyframes addButtonPulse {
    0% {
        background-color: var(--mantle-brighter);
        padding: .5em .75em;
    }
    100% {
        background-color: revert;
        padding: revert;
    }
}

.addItem select[name=priority] {
    option[value=High] {
        background-color: var(--color-red);
    }
    option[value=Medium] {
        background-color: var(--color-yellow);
    }
    option[value=Low] {
        background-color: var(--color-green);
    }
    // lol ew ew ew
    // it's ok :has is baseline now
    // > Since December 2023
    // ok well it's not but it should be baseline in like 2 weeks
    &:has(option[value=High]:checked) {
        background-color: var(--color-red);
    }
    &:has(option[value=Medium]:checked) {
        background-color: var(--color-yellow);
    }
    &:has(option[value=Low]:checked) {
        background-color: var(--color-green);
    }
}

.taskList {
    gap: 1em;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: .5em;
}